[Unit]
Description=OpenVPN connection using %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c '/usr/sbin/nft -f /etc/nftables.conf'
ExecStart=/usr/sbin/openvpn --config /etc/openvpn/%i.ovpn
ExecStartPost=/bin/bash -c '/usr/sbin/nft -f /etc/nftables.conf'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
