[Unit]
Description=Reset nftables rules

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/sbin/nft -f /etc/nftables.conf'

[Install]
WantedBy=multi-user.target
