<!DOCTYPE html>
<html>
<head>
    <title>Connect to Wi-Fi</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.interface.label }}<br>
            {{ form.interface }}<br>
            {{ form.scan() }}
        </p>
        {% if scanned %}
        <p>
            {{ form.ssid.label }}<br>
            {{ form.ssid }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
        </p>
        <p>{{ form.connect() }}</p>
        {% endif %}
    </form>
</body>
</html>

