<!DOCTYPE html>
<html>
<head>
    <title>Connect to Wi-Fi</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <form id="wifiForm" action="{{ url_for('index') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.interface.label }}<br>
            {{ form.interface }}<br>
            {{ form.scan() }}
        </p>
        {% if scanned %}
        <p>
            {{ form.ssid.label }}<br>
            {{ form.ssid }}<br>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {{ form.internet_interface.label }}<br>
            {{ form.internet_interface }}<br>
            {{ form.hotspot_interface.label }}<br>
            {{ form.hotspot_interface }}<br>
            {{ form.connect() }}
        </p>
        {% endif %}
    </form>
<script>
    document.querySelector('input[name="scan"]').addEventListener('click', function(event) {
        event.preventDefault();
        let form = document.getElementById('wifiForm');
        form.action = "{{ url_for('scan') }}";
        form.submit();
    });

    document.querySelector('input[name="connect"]').addEventListener('click', function(event) {
        event.preventDefault();
        let form = document.getElementById('wifiForm');
        form.action = "{{ url_for('connect') }}";
        form.submit();
    });
</script>

</body>
</html>
